<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<link th:href="@{/assets/layout/css/custom.min.css}" rel="stylesheet"
	type="text/css" />
<title>主页</title>
</head>
<!-- 固定菜单和底部 -->
<body
	class="page-sidebar-closed-hide-logo page-content-white page-header-fixed  page-footer-fixed page-sidebar-fixed">
	<!--/*/ <th:block th:include="fragments/headerinc :: top"></th:block> /*/-->
	<div class="clearfix"></div>
	<div class="page-container">
		<!--/*/ <th:block th:include="fragments/headerinc :: menu"></th:block> /*/-->
		<div class="page-content-wrapper">
			<div class="page-content">
				<!--/*/ <th:block th:include="fragments/headerinc :: bar"></th:block> /*/-->
				<div class="row animsition-overlay" id="goods_list_field">
					<div class="portlet light bordered">
						<div class="portlet-body">
							<div class="tab-content">
								<div class="tab-pane fade in active" id="goods_list">
									<div id="goods-buttons">
										<form class="form-inline" autocomplete="off">
											<input type="text" class="form-control" id="name" name="name"
												placeholder="商品名称" style="width: 300px" /> <span>状态
												:</span> <select class="form-control select2 " name="state"
												id="state" data-type="account_state" data-width="200px">
												<option>全部</option>
												<option value="0">上架</option>
												<option value="1">下架</option>
											</select> <span>供应商:</span> <select class="form-control select2 "
												name="mallSupplierId" id="mallSupplierId" data-width="240px">
												<option value=" ">全部</option>
												<option th:each="mallSupplier,state:${mallSupplierList}"
													th:value="${mallSupplier.dmId}"
													th:text="${mallSupplier.name}"></option>
											</select>
											<button type="button" class="btn btn-default"
												data-type="search">
												<i class="fa fa-search"></i> <span data-zh="搜索">搜索</span>
											</button>
											<button type="button" class="btn btn-default"
												onclick="$unit.optn('#search')">
												<i class="fa fa-tripadvisor"></i> <span data-zh="高级检索">高级检索</span>
											</button>
											<a type="button" class="btn btn-default" th:href="@{/goods/add.htm}">
												<i class="fa fa-plus"></i> <span data-zh="添加">添加</span>
											</a>
										</form>
									</div>
									<table
										class="table table-striped table-bordered table-hover dt-responsive"
										id="goods_table" th:attr="data-url=@{/goods/query}"
										data-unique-id="dmId" data-side-pagination="server"
										data-pagination="true" data-toolbar="#goods-buttons"
										data-height="700" data-page-size="10" data-show-toggle="true">
										<thead class="">
											<tr>
												<th data-checkbox="true" data-width="2%"></th>
												<th data-field="name" data-width="20%"
													data-formatter="Goods.toName">商品名称</th>
												<th data-field="goodsClassName" data-width="20%"
													data-sortable="true">分类</th>
												<th data-field="mallSupplier.name" data-width="20%"
													data-formatter="">供应商</th>
												<th data-field="purchasePrice" data-width="4%"
													data-prefix="&yen;" data-formatter="$transformation.toFormat">成本价</th>
												<th data-field="price" data-width="4%" data-prefix="&yen;" data-formatter="$transformation.toFormat">零售价</th>
												<th data-field="state" data-width="10%" data-formatter="Goods.toState">状态</th>
												<th data-field="" data-width="20%" data-formatter="Goods.toBtns">操作</th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row hide" id="goods_add_field">
					<div class="portlet light bordered">
						<div class="portlet-title">
							<div class="caption">
								<span class="caption-subject font-red bold uppercase">添加新商品<span
									class="step-title"></span></span>
							</div>
						</div>
						<div class="portlet-body form">
							<form class="form-horizontal" th:action="@{/goods/save}"
								method="POST" id="add_goods_form" autocomplete="off">
								<div class="step1">
									<div class="form-group">
										<!-- <label class="col-md-3 control-label">商品类目:<span class="required" aria-required="true"> * </span></label>
	 							<div class="col-md-9">
						 			<select class="form-control" size="10" name="goodsClass" id="goodsClass">
						 				<optgroup th:each="goodsClass,state:${goodsClassList}" th:unless="${#lists.isEmpty(goodsClass.childs) and goodsClass.state!=0}" th:label="${goodsClass.title}" th:attr="data-id=${goodsClass.dmId}" >
						 					<option th:each="childs,childsState:${goodsClass.childs}" th:text="${childs.title}"  th:value="${childs.dmId}" th:unless="${goodsClass.state}!=0"></option>
						 				</optgroup>
						 			</select>
						 			<div class="row"></div>
						 			<input type="hidden" name="goodsClassId" id="goodsClassId"/>
						 			<input type="hidden" name="goodsClassTitle" id="goodsClassTitle"/>
						 			<span class="help-block help-block-error hide">请选择商品分类.</span>
						 		</div> -->
										<div class="row sort" id="sort"></div>
									</div>
								</div>
								<div class="form-actions">
									<div class="row">
										<div class="col-md-offset-3 col-md-9">  
											<a href="javascript:;" class="btn default button-previous"
												id="button-previous"> <i class="fa fa-angle-left"></i>
												上一步
											</a> <a href="javascript:;"
												class="btn btn-outline green button-next" id="button-next">
												下一步,填写详细信息 <i class="fa fa-angle-right"></i>
											</a> <a href="javascript:;" class="btn green button-submit"
												id="button-submit" onclick="Goods.submit();"> 商品发布 <i
												class="fa fa-check"></i>
											</a>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="display: none;">
		<a id="files" href="javascript:;"></a>
	</div>
	<!--/*/ <th:block th:include="fragments/headerinc :: footer"></th:block> /*/-->
	<!--/*/ <th:block th:include="fragments/headerinc :: script"></th:block> /*/-->
	<script type="text/javascript"
		th:src="@{/assets/global/plugins/plupload/js/plupload.full.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/assets/global/scripts/Upload.js}"></script>
	<script type="text/javascript"
		th:src="@{/assets/custom/goods/goods_template.js}"></script>
	<script type="text/javascript"
		th:src="@{/assets/custom/goods/goods.js}"></script>
	<script type="text/javascript" th:inline="javascript">
    	$(function(){
    		$('#files').myUpload();
    		Goods.init();
    		var data=/*[[${goodsClassList}]]*/
    	});
    	var getmallSupplier=function(){
    		return /*[[${mallSupplierList}]]*/
    	}
    </script>
</body>
</html>