<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmsh.admin.dao.system.RoleDao">
  <resultMap id="BaseResultMap" type="com.hmsh.admin.vo.system.Role">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="info" jdbcType="VARCHAR" property="info" />
  </resultMap>
 
</mapper>