<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmsh.app.dao.order.MallOrderDao">
  <resultMap id="BaseResultMap" type="com.hmsh.app.vo.order.MallOrder">
    <id column="dmId" jdbcType="BIGINT" property="dmid" />
    <result column="orderId" jdbcType="BIGINT" property="orderid" />
    <result column="mallSupplierId" jdbcType="BIGINT" property="mallsupplierid" />
    <result column="partPrice" jdbcType="DECIMAL" property="partprice" />
    <result column="supplyPrice" jdbcType="DECIMAL" property="supplyprice" />
  </resultMap>
 
</mapper>