<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<title>推荐人营业额分红规则</title>
</head>
<!-- 固定菜单和底部 -->
<body
	class="page-sidebar-closed-hide-logo page-content-white page-header-fixed  page-footer-fixed page-sidebar-fixed">
	<!--/*/ <th:block th:include="fragments/headerinc :: top"></th:block> /*/-->
	<div class="clearfix"></div>
	<div class="page-container">
		<!--/*/ <th:block th:include="fragments/headerinc :: menu"></th:block> /*/-->
		<div class="page-content-wrapper">
			<div class="page-content">
				<!--/*/ <th:block th:include="fragments/headerinc :: bar"></th:block> /*/-->
				<div class="row">
					<div class="portlet light bordered">
						<div class="portlet-body">
							<div class="tab-content">
								<div class="tab-pane fade in active">
									<div id="turnoverRecommendBonus-buttons">
										<form class="form-inline"  autocomplete="off" >
											<input type="text" class="form-control input-medium" placeholder="规则名称" name="name" id="name" />
											<span>状态:</span>
											<select class="form-control select2 select2-allow-clear select2-multiple  input-medium" data-width="200px" name="state" id="state">
												<option value=" ">全部</option>
												<option value="0">启用</option>
												<option value="1">禁用</option>
											</select>
											<span>规则类型:</span>
											<select class="form-control select2  select2 select2-allow-clear select2-multiple  input-medium" data-width="270px" name="key" id="key" data-type="turnoverRecommendBonus_key">
												<option value=" ">全部</option>
											</select>
											<button type="button" class="btn btn-default" data-type="search">
												<i class="fa fa-search"></i> <span data-zh="搜索">搜索</span>
											</button> 
											<button type="button" class="btn btn-default" data-type="add">
												<i class="fa fa-plus"></i> <span data-zh="转换">新增</span>
											</button>  
										</form>
									</div>
									<table
										class="table table-striped table-bordered table-hover dt-responsive"
										id="table" data-unique-id="dmId" data-height="680"
										data-side-pagination="server" data-pagination="true"
										data-toolbar="#turnoverRecommendBonus-buttons" th:attr="data-url=@{/turnoverRecommendBonus/query}">
										<thead>
											<tr>
												<th data-field="name" >名称</th>
												<th data-field="key"  data-formatter="$transformation.toKey" >规则类型</th>
												<th data-field="bonusRatio" data-formatter="$transformation.toFormat" >分红比例</th>
												<th data-field="bonusSeries" data-suffix="级" data-formatter="$transformation.toFormat" >分红级数</th>
												<th data-field="state" data-formatter="$transformation.toState" >状态</th>
												<th data-field="dmId" data-formatter="$transformation.toBtn" data-width="270"
												data-buttons="show,edit,updateState,more" th:attr="data-urlprefix=@{/turnoverRecommendBonus}"
												 >操作</th>
											</tr>
										</thead>
									</table>
								</div>
								<div class="tab-pane fade ">
									<form th:action="@{/turnoverRecommendBonus/save}" class="form-horizontal form-bordered" autocomplete="off" role="form" method="post">
										<div class="form-body">
											<div class="form-group">
												<label class="col-md-3 control-label" for="name">名称</label>
												<div class="col-md-6 col-xs-9">
													<div class="input-icon">
														<i class="fa fa-user"></i> 
														<input type="text" id="name" name="name" class="form-control required " maxlength="20" placeholder="加盟费用规则名称" />
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label" for="key">规则类型 </label>
												<div class="col-md-6 col-xs-9">
													<select class="form-control select2 required" name="key" id="key" data-width="100%" data-down="turnoverRecommendBonus_key">
													</select>
													<span class="help-block help-block-ignore">
														<i class="fa fa-exclamation-circle"></i>
														每个规则类型只有一条是有效的状态,如果该规则已经存在,则添加的规则为待审核状态,如果为最新添加,则默认为有效状态!
													</span>
												</div>
											</div>
											<div class="form-group">
												<label class="col-md-3 control-label" for="fullCost">分红比例</label>
												<div class="col-md-6 col-xs-9">
													<div class="input-group">	
														<input type="text" id="bonusRatio" name="bonusRatio" class="form-control" maxlength="9" placeholder="请输入全额费用" value="" />
														<span class="input-group-addon">%</span>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-md-3 control-label " for="earnestMoney">分红级数</label>
												<div class="col-md-6 col-xs-9">
													<div class="input-group">
														<input type="text" id="bonusSeries" name="bonusSeries" class="form-control" maxlength="5" placeholder="请输入诚意金" value="" />
														<span class="input-group-addon">级</span>
													</div>
													<span class="help-block help-block-ignore">
														<i class="fa fa-exclamation-circle"></i>
														可输入范围<b>: -1 ~ 99999,-1</b>表示无限级.
													</span>
												</div>
											</div>
										</div>
										<div class="form-actions">
											<div class="row">
												<div class="col-md-offset-3 col-md-9">
													<a href="javascript:;" class="btn green" data-type="save">提交</a>
													<a href="javascript:;" class="btn default"
														data-type="cancel">取消</a>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/*/ <th:block th:include="fragments/headerinc :: footer"></th:block> /*/-->
	<!--/*/ <th:block th:include="fragments/headerinc :: script"></th:block> /*/-->
	<script type="text/javascript" th:inline="javascript">		
		$(function() {
			//JoiningFee.init();
			/* TemplateRule.init({
				key:'serviceFeeBonus_key'
			});
			$('select#state').select2(); */
		})
	</script>
</body>
</html>