<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<title>提现管理</title>
</head>
<!-- 固定菜单和底部 -->
<body
	class="page-sidebar-closed-hide-logo page-content-white page-header-fixed  page-footer-fixed page-sidebar-fixed">
	<!--/*/ <th:block th:include="fragments/headerinc :: top"></th:block> /*/-->
	<div class="clearfix"></div>
	<div class="page-container">
		<!--/*/ <th:block th:include="fragments/headerinc :: menu"></th:block> /*/-->
		<div class="page-content-wrapper">
			<div class="page-content">
				<!--/*/ <th:block th:include="fragments/headerinc :: bar"></th:block> /*/-->
				<div class="row">
					<div class="portlet light">
						<div class="portlet-title">
							<div class="caption font-red-sunglo">
								<i class="icon-user"></i> <span
									class="caption-subject font-green bold uppercase">提现管理</span>
							</div>
							<div class="actions">
								<div class="dt-buttons">
									<a class="dt-button btn blue btn-outline" onclick="TemplateRule.add();" href="javascript:;">
										<span>添加</span>
									</a>
								</div>
							</div>
						</div>
						<div class="portlet-body">
							<form action="" role="form" class="form-inline" id="search_form" autocomplete="off" data-role="search">
								<span>规则名称:</span>
								<input type="text" class="form-control input-medium" placeholder="规则名称" name="name" id="name"/>
		                        <span>状态:</span>
								<select class="form-control select2-multiple  input-medium" name="state" id="state">
									<option value=" ">全部</option>
									<option value="0">启用</option>
									<option value="1">禁用</option>
		                        </select> 
		                        <span>规则类型:</span>
								<select class="form-control select2-multiple  input-medium" name="key" id="key"  data-down="consumptionRecommendBonus_key">
								 	
		                        </select>  
		                    	<button type="button" class="btn btn-sm green" id="search" onclick="TemplateRule.search();">搜索<i class="fa fa-search"></i></button>  
							</form> 
							<table
								class="table table-striped table-bordered table-hover dt-responsive"
								id="table" data-unique-id="dmId" data-side-pagination="server" data-pagination="true" data-toolbar="#search_form"
								th:attr="data-url=@{/uwExtractapply/query}" >
								<thead class="bg-grey-salt">
									<tr>
										<th data-field="cardholderName" data-formatter="">持卡人</th>
										<th data-field="bankName" data-formatter="">收款银行</th>
										<th data-field="amount" data-prefix="&yen;" data-formatter="$transformation.toFormat">提现金额</th>
										<th data-field="saleOrderId" data-formatter="">单号</th>
										<th data-field="arrivalAmount" data-prefix="&yen;" data-formatter="$transformation.toFormat">预计到账</th>
										<th data-field="walletBalance" data-prefix="&yen;" data-formatter="$transformation.toFormat">钱包余额</th>
										<th data-field="nickname" data-formatter="">用户信息</th>
										<th data-field="statusType" data-formatter="">处理状态</th>
										<th data-field="applyTime" data-formatter="$transformation.toTime">操作时间</th>
										<th data-field="dealRemark" data-formatter="" data-width="200">备注</th>
										<th data-field="dmId" data-formatter="$transformation.toBtn" data-buttons="show" th:attr="data-urlprefix=@{/uwExtractapply}" data-width="270">操作</th>
									</tr>
								</thead>

							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" tabindex="-1" aria-hidden="true" data-role="modal" id="modal" th:attr="data-findone-url=@{/uwExtractapply/findone},data-updateState-url=@{/uwExtractapply/updateState}">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">广告管理</h4>
				</div>
				<div class="modal-body">
					<form th:action="@{/uwExtractapply/save}" class="form-horizontal form-bordered" autocomplete="off"  role="form" method="post" data-role="add">
						<div class="form-body">
							<div class="form-group">
								<label class="col-md-3 control-label" for="username">分组名称</label>
								<div class="col-md-9">
									<div class="input-icon">
	                                    <i class="fa fa-user"></i>
										<input type="text" id="name" name="name" class="form-control string required" maxlength="20" placeholder="请输入分组名称" value=""/>
									</div>
								</div>
							</div>
								<div class="form-group">
								<label class="col-md-3 control-label" for="password">字段Key</label>
								<div class="col-md-9">
									<div class="input-icon">		
	                                    <i class="fa fa-lock"></i>
										<input type="text" id="keyName" name="keyName" class="form-control string required" maxlength="20" placeholder="请输入字段Key" value="" />
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="password">字段值</label>
								<div class="col-md-9">
									<div class="input-icon">		
	                                    <i class="fa fa-lock"></i>
										<input type="text" id="keyValue" name="keyValue" class="form-control string required" maxlength="20" placeholder="请输入字段值" value="" />
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="hiredate">类型评价标签 </label>
								<div class="col-md-9">
									 <select class="form-control select2" name="type" id="type"  data-down="advertisManage_key">
									 	
									 </select>	
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
                     <button type="button" data-dismiss="modal" class="btn dark btn-outline">关闭</button>
                     <button type="button" class="btn green" onclick="TemplateRule.save();">保存</button>
                 </div>
			</div>
		</div>
	</div>
	<!--/*/ <th:block th:include="fragments/headerinc :: footer"></th:block> /*/-->
	<!--/*/ <th:block th:include="fragments/headerinc :: script"></th:block> /*/-->
	<script type="text/javascript" th:inline="javascript">
		
	</script>
</body>
</html>