<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hmsh.admin.dao.wms.GoodsInfoDao">
	<resultMap id="BaseResultMap" type="com.hmsh.admin.vo.wms.GoodsInfoEntity">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="goodsName" property="goodsName" jdbcType="VARCHAR" />
		<result column="image" property="image" jdbcType="VARCHAR" />
		<result column="goodsID" property="goodsID" jdbcType="BIGINT" />
	</resultMap>

</mapper>